#main{
    background: #5f5f5f;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 440px;
}
#menu{
    text-align: justify;
    background: rgba(0, 253, 241, 0.253);
    border-radius: 3px;
    width: 95%;
    height: 30%;
    margin-left: 10px;
    border-radius: 1px solid grey;
}
#menu form{
    margin-left: 30px;
}
#menu form p{
    display:block;
    float: left;
}
#menu form p input[type='submit']{
    margin-left: 10px;
    padding: 0px 16px;
    background: #5f5f5f69;
    background-color: #5f5f5fa2;
    border-radius: 3px;

}
#table{
    clear: both;
    text-align: center;
}
#task p{
    display: block;
    margin-left: 10px;
    float: left;
}
#register{
    margin-top: 100px;
    margin-left: 70px;
}
.default{
    margin-left: 100px;

}
#table{
    background: honeydew;
    margin-left: 10px;
    width: 475px;
}
#task{
    width: 100px;
}